<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<body>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <head>
  <title>MyWaypoints</title>
  <style>
    p {text-align:center;}
    .up{
      height:30%;
      width:100%;
      top:0;
    }
    .down{
      height:70%;
      width:100%;
      bottom:0;
      border:3px solid #73AD21;
    }

  </style>
</head>
  <div ng-app="MyWayfront">
    <div class="up">
    <form ng-submit="submit()" name="MyWayInput">
    <p style="margin-left:30px">Source:<input type="text" ng-model="source" required placeholder="Source"></p>
    <p>Destination: <input type="text" ng-model="destination" required placeholder="Destination"></p>
    <p><input type="submit" value="submit" class="btn btn-primary"></p>
  </form>
</div>
<div class="down">
  <p></p>
</div>
  </div>
</body>
</html>
